.gallery-grid{
 /*   background: #d3d8db!important;  /* fallback for old browsers */
 /*   background: -webkit-linear-gradient(to left, #696969, #d3d8db)!important;  /* Chrome 10-25, Safari 5.1-6 */
 /*   background: linear-gradient(to left, #696969, #d3d8db)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    background: #f2f2f2!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DBDBDB, white)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DBDBDB, white)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

.gallery-grid .content{
    width: 95%;
    padding: 30px;
    column-count:auto;
    column-width: 23rem;
}

.gallery-grid .collection-name{
    padding-top: 30px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #424242;
}

@media (max-width: 600px) {
    .gallery-grid .content{
        width: auto;
        padding: 30px;
        column-count:auto;
        column-width: 23rem;
    }
    
}