.article-preview-wrapper{
    height: 100%;
    width: 100%;
    white-space: nowrap;
    margin: 1em 0;
}

.article-preview-wrapper .card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    vertical-align: middle;
    padding: 20px;
}

.article-preview-wrapper .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-preview-wrapper .card .picture{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: 50%;
}

.article-preview-wrapper .card .picture img{
    object-fit: scale-down;
    max-width: 100%;
    border-radius: 2px;
}

.article-preview-wrapper .card .legend{
    margin: auto 30px;
    width: 50%;
    white-space: normal;
}


.article-preview-wrapper .card .legend span{
    display: block;
    text-transform: uppercase;
    color: #404040;
}

.article-preview-wrapper .card .legend p{
    color: #8C8C8C;
    margin-top: 20px;
    line-height: 20px;
}

@media only screen and (max-device-width: 800px) {
    .article-preview-wrapper .card{
        max-height: 70vh;
        flex-direction: column;
        display: inline-table;
    }
    .article-preview-wrapper .card .picture{
        width: 100%;
    }

    .article-preview-wrapper .card .legend{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .article-preview-wrapper .card .legend h3{
        font-size: 20px;
        line-height: 20px;
    }

    .article-preview-wrapper .card .legend p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
}