.smallImage{
    position: relative;
}

.smallImage img{
    width: 100%;
    margin: 7px 0;
    border-radius: 8px;
}

.smallImage .details{
    display: none;
}

.smallImage:hover img{
    cursor: pointer;
    opacity: 0.6;
}

.smallImage:hover .details{
    position: absolute;
    bottom: 0px;
    margin: 0px 10px;
    color: black;
    display: block;
    z-index: 2;
}

.smallImage:hover .details hr{
    border-top: 1px solid black;
}

@media (max-width: 600px) {
    .smallImage .details{
        position: relative;
        bottom: 0px;
        margin: 0px 10px;
        color: black;
        display: block;
    }

    .smallImage > .details > h5{
        margin: 5px 0;
    }

    .smallImage > .details > hr{
        margin: 5px 0;
    }

    .smallImage > .details > p{
        margin: 0 0 15px 0;
    }
}